:root{
  
    --ramkaa:solid red;
    font-size: 16px;
    padding: 0px;
    margin: 0px;
}


body
{
    font-size: 16px;
    padding: 0px;
    margin: 0px;
    background-image: url(img/tlo_strony.jpg);
    background-size:cover;
    font-family: 'Lato', sans-serif;
    overflow: hidden;

}

body a 
{
     text-decoration: none; 
    color:white;
}

/*==========================================*/
/*================= HEADER =================*/
/*==========================================*/


.head-container
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing:border-box;
    align-items: center;
 
    
}


.header
{  
    width:80%;
    display:flex;
    flex-direction: row;
    height:110px;
    margin-top:1.5em;
      
}


.header-logo
{
     
    width:120px;
    display:flex;
    align-content:flex-start;
    color:white;
    
}

.header-head-logo-img
{
    width:120px;
    padding-top: 15px;
     
   
}

.header-logo-facebook-img
{
    width:40px;
    margin-left: 5px;
    padding-top: 3px;
    display:flex;
    padding-top: 35px;
   
    
}


.header-contact
{
    display:flex;
    justify-content: flex-end; 
    text-align: right;
    align-items: center;
    flex:1;
    color:white;
    font-size: 0.8em;
    
}


/*==========================================*/
/*=============== CONTAINER ================*/
/*==========================================*/


.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:80%;
    
    
}


.container-big-circle
{
    
    border:dotted white;
    border-radius: 50%;
    width: 500px;
    height: 500px;
    position: absolute;
    top:15%;
    opacity:0.2;
    
    
    
}








/*==========================================*/
/*================= FOOTER =================*/
/*==========================================*/


.footer{
    display: flex;
    flex-direction: row;
    width:80%;
    height: 50px;
}
.footer-responsive
{
   
    display: none;

}




/*==========================================*/


/*==============================================================*/
/*==================================RESPONSYWNOSC===============*/
/*=============================poniżej 480px====================*/


/*==========================================*/

@media all and (max-width:480px)
{
    
    
    
    
    
    
/*==========================================*/
/*================= HEADER =================*/
/*==========================================*/
    
    
    .head-container
    {
        width:100%;
        height:100%;
        
    }
    
    .header
    {
        margin-top:0.1em;
    }
    
    .header-contact 
    {
        display: none;
    }
    
    .header-logo-facebook-img
    {
        display: none;
    }
    
    
/*==========================================*/
/*=============== CONTAINER ================*/
/*==========================================*/
    
    .container
    {
        width:100%;
    }
    
   
    
    
    
/*==========================================*/
/*================= FOOTER =================*/
/*==========================================*/
    
    
   .footer
    { 
      display: none;
    }
    
    
    .footer-responsive
    {
       display: flex !important;
       background-color:white; 
       width:102%;
       height: 40px;
       box-sizing: border-box;
       padding-top:5px;
       position:fixed;
        bottom:0px;
        
    }
    
    .footer-logo-facebook-img
    {
        width:35px;
        height: 30px;
    }
    
    .footer-contact
    {
        color:#161A1E;
        font-size:0.8em;
        
    }

    
}



/*==========================================*/


/*==============================================================*/
/*==================================RESPONSYWNOSC===============*/
/*============================poniżej 1024px====================*/


/*==========================================*/


@media all and (max-width:1024px)
{
    .head-container
    {
        width:99%;
        height:100%;
    }
    
    
    .header
    {
        width:99%;
        
    }
    
    
    .container
    {
        width:100%;
    }
    
    .footer
    {
        width:100%;
    }
    
    

/*==========================================*/
/*=============== CONTAINER ================*/
/*==========================================*/
    
    
    

    
    
    
    
  
}



/*==========================================*/


/*===============================================================*/
/*==============================RESPONSYWNOSC====================*/
/*=============================powyżej 1377px====================*/


/*==========================================*/


@media all and (min-width:1378px)
{
    
    
    
/*==========================================*/
/*================= HEADER =================*/
/*==========================================*/    
    
 .header
{  
    
    margin-top:9.5em;
      
}   
    
    
/*==========================================*/
/*=============== CONTAINER ================*/
/*==========================================*/
  
    
    
   .container
    {
        width:80%;
        
    } 
    
  
    
    
    
    
    
    
    
    
    
    
  
 .container-big-circle
{
    z-index: -100;
    border:dotted white;
    border-radius: 50%;
    width: 500px;
    height: 500px;
    position: absolute;
    top:25%;
    opacity:0.2;
    
    
    
}   
    
    
    
    
}